nav{
  background-color: brown;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
a{
  text-decoration: none;
}
.navbar-text{
  letter-spacing: 5px;
  font-weight: bold;
  color: beige;
}